
/* Header */

html {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: #404040;
}

nav div {
  display: flex;
  align-items: center;
}

nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: auto 0;
}

ul li {
  display: inline;
  padding: 0 16px;
}

.logo {
  height: 32px;
  margin-left: 24px;
  font-size: 26px;

}

.logo img {
  height: 55px;
}

header .container {
  height: 68px;
}

h4 .special-color {
  color: lightgray;
}

/* Banner */

.main-banner {
  display: flex;
  background-color: lightgray;
  height: 42rem;
}

.main-banner img {
  display: inline-block;
  max-width: 60%;
  padding: 32px 24px;
}

.title {
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  padding: 10rem 2rem;
}

.button {
  display: block;
  text-align: center;
  background-color: dimgray;
  padding: 12px 60px;
  color: white;
}
